<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojo Survey Index</title>

</head>
<body>
    <div class="wrapper">
        <div>
            <h1>Dojo Survey</h1>
        </div>
        <form action='/process' method='POST'>
            <label for='name'>Your Name:</label>
            <input type='text' name='name'>
            <label for='dojo'>Dojo Location:</label>
            <select name="dojo">
                <option value="">-- Select A Location --</option>
                <option value="Chicago">Chicago</option>
                <option value="Seattle">Seattle</option>
                <option value="Online">Online</option>
                <option value="Burbank">Burbank</option>
                <option value="Bellevue">Bellevue</option>
            </select>
            <label for='language'>Favorite Language:</label>
            <select name="language">
                <option value="">-- Select A Language --</option>
                <option value="HTML">HTML</option>
                <option value="CSS">CSS</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                <option value="C#">C#</option>
            </select>
            <label for='comment'>Comment (optional):</label>
            <textarea name="comment" cols="30" rows="10"></textarea>
            <input type='submit' value='Button'>
        </form>
    </div>
</body>
</html>